<!-- templates/index.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Talant System</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Система талантов</h1>
    <div id="data"></div>

    <div id="addForm">
        <h3>Добавить пользователя</h3>
        <input type="text" id="name" placeholder="Имя">
        <input type="number" id="points" placeholder="Очки">
        <button onclick="addUser()">Добавить</button>
    </div>

    <div id="deleteForm">
        <h3>Удалить пользователя</h3>
        <input type="text" id="name" placeholder="Имя">
        <button onclick="deleteUser()">Удалить</button>
    </div>

    <script src="/static/script.js"></script>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
</body>
</html>
